*{
    border:0px;
    margin:0px;
}

body{
    font-family: "Playfair Display", serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://ik.imagekit.io/varsh0506/clothing%20website/pexels-kish-1488463.jpg?updatedAt=1723320784228");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:auto;
    margin:10px;
    padding: 10px;
    border: 2px white solid;
    box-shadow: 4px 4px 4px white ;
    backdrop-filter: blur(5px);
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.heading h1{
    color:white;
}

.about{
     font-size: 20px;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

.query{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width:50%;
    margin: 10px;
    padding: 10px;
    border: 2px white solid;
    color: white;
    box-shadow: 4px 4px 4px white ;
}

p,input,button{
    margin:10px;
    padding:10px;
}

input{
    border:1px white solid;
    border-radius: 10px;
    width: 90%;
}

.help{
    height: 40px;
}

input:focus{
    outline: none;
}

button{
    width:100px;
    border: 2px black solid;
    color: black;
    background-color: white;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
    background-color: grey;
}
